%form{:action => 'create', :method => 'post' }
  %p Your Name: 
  %input{:name => 'name'}
  %p Your Mail: 
  %input{:name => 'mail'}
  %p Your Phone: 
  %input{:name => 'phone'}
    %p Choose the Film
    %select{:name => 'film_id'}
      -@films.list.each_with_index do |film, id|
        %option{:value => id} 
          ="#{film.title} - #{film.price}"
  %input{:type => "submit"}
  
